.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C38154;
    width: 500px;
    height: 10%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;
}

.row{
    margin-bottom: 10%;
    font-size: 20px;
    /* border-style: dashed; */
}

#user_div {
    margin-top: 10%;
}

#user_div > label{
    margin-right: 10px;
}

#login_pword_div > label{
    margin-right: 16px;
}

#button_div{
    display: flex;
    justify-content: center;
}

#login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.required{
    color: rgb(227, 37, 68);
    font-weight: bold;
}