.posts{
    margin-bottom: 80px;
}

.posts-buttons{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #C38154;
    padding: 3px;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: right;
}

.buttons > button{
    width: 100px;
    height: 40px;
    margin-right: 20px;
}